.AwardsHeader {
  background-color: #a8d100;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}

.TextContent {
  color: white;
  order: 1;
  h1 {
    font-weight: 600;
    font-size: 56px;
    margin: 0;
    margin-bottom: 15px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
  }
}

.ImageContent {
  order: 2;
}

.ImageContainer {
  width: 230px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 768px) {
  .AwardsHeader {
    height: fit-content;
  }
  .Container {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    text-align: center;
  }
  .TextContent {
    order: 2;
  }
  .ImageContent {
    order: 1;
  }
  .ImageContainer {
    width: 300px;
  }
}

@media (max-width: 428px) {
  .AwardsHeader {
    height: fit-content;
  }
  .Container {
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    text-align: center;
  }
  .TextContent {
    order: 2;
    margin-top: 50px;
    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .ImageContent {
    order: 1;
  }
  .ImageContainer {
    width: 240px;
  }
}
