.BlogHeader {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #168eb4;
  border-bottom: #a8d100 solid 6px;
}

.Container {
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  position: relative;
}

.TextContainer {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: 600;
    font-size: 56px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }
}

.ImageWrapper {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImageContainer {
  width: 800px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 1536px) {
  .Container {
    width: 64%;
    padding-top: 90px;
  }
  .ImageContainer {
    width: 600px;
  }
  .TextContainer {
    p {
      width: 75%;
    }
  }
}

@media (max-width: 1440px) {
  .Container {
    width: 68%;
  }
}

@media (max-width: 1366px) {
  .Container {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .Container {
    width: 90%;
  }
  .ImageContainer {
    width: 500px;
  }
}

@media (max-width: 428px) {
  .TextContainer {
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 16px;
    }
  }
  .ImageContainer {
    width: 345px;
  }
}
