.CaseStudyCard {
  background-color: rgb(116, 116, 116);
  height: 100%;
  width: 383px;
  * {
    cursor: pointer;
  }
}

.Container {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 45px;
  padding-bottom: 45px;
  height: 100%;
  position: relative;
}

.Content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: inherit;
  h6 {
    color: white;
    font-weight: 700;
    font-size: 26px;
    backdrop-filter: blur(10px) saturate(100%) brightness(100%);
    padding: 0.5rem;
  }
  z-index: 1;
}

.ButtonContainer {
  button {
    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }
}

.IconContainer {
  width: 24px;
  span {
    position: unset !important;
  }
  .Icon {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.ImageContainer {
  width: 100%;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.ImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 1536px) {
  .ImageContainer {
    width: 383px;
  }
}

@media (max-width: 428px) {
  .CaseStudyCard {
    width: 100%;
  }
  .ImageContainer {
    width: 345px;
  }
}

@media (max-width: 375px) {
  .CaseStudyCard {
    width: 100%;
  }
  .ImageContainer {
    width: 327px;
  }
}
