@import "../../styles/index.module.scss";

.ServicesHeader {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #168eb4;
  border-bottom: #a8d100 solid 6px;
  position: relative;
  z-index: 1;
}

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 150px;
  position: relative;
}

.TextContent {
  color: white;
  h1 {
    font-weight: 600;
    font-size: 56px;
    margin: 0;
    margin-bottom: 15px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    width: 800px;
  }
}

.ActionButtonContainer {
  margin-top: 40px;
}

.WrapperLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.WrapperRight {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.ImageContainerLeft {
  width: 750px;
  span {
    position: unset !important;
  }
  .ImageLeft {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.ImageContainerRight {
  width: 830px;
  span {
    position: unset !important;
  }
  .ImageRight {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 1536px) {
  .ImageContainerLeft {
    width: 620px;
  }
  .ImageContainerRight {
    width: 680px;
  }
}

@media (max-width: 768px) {
  .Container {
    padding-top: 80px;
  }
  .ImageContainerLeft {
    width: 380px;
  }
  .ImageContainerRight {
    width: 380px;
  }
  .TextContent {
    text-align: center;
    p {
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

@media (max-width: 425px) {
  .TextContent {
    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      padding-left: 55px;
      padding-right: 55px;
    }
  }
  .WrapperLeft {
    left: -235px;
  }
  .WrapperRight {
    right: 0;
    left: 250px;
    overflow-x: hidden;
  }
  .ImageContainerRight {
    overflow-x: hidden;
  }
}
