.DesignForBusiness {
  padding-top: 200px;
  position: relative;
}

.Container {
  padding-left: 10%;
  padding-right: 10%;
}

.OurProcessSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 800px;
}

.TextContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  b {
    color: #9555e1;
    font-weight: 500;
    font-size: 14px;
  }
  h2 {
    font-weight: 500;
    font-size: 56px;
  }
  p {
    font-weight: 400;
    font-size: 24px;
    color: #868686;
    width: 50%;
  }
}

.ProcessImageContainer {
  width: 940px;
  span {
    position: unset !important;
  }
  .ProcessImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.AnyDeviceSection {
  padding-top: 200px;
}

.DeviceImageWrapper {
  position: absolute;
  bottom: 0;
}

.TextContent {
  position: absolute;
  bottom: 400px;
  width: 15%;
  h2 {
    font-weight: 500;
    font-size: 56px;
    span {
      color: #c18bea;
    }
  }
  p {
    font-weight: 400;
    font-size: 20px;
    color: #868686;
  }
}

.DeviceImageContainer {
  width: 1300px;
  span {
    position: unset !important;
  }
  .DeviceImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 1536px) {
  .ProcessImageContainer {
    width: 660px;
  }
  .DeviceImageContainer {
    width: 870px;
  }
  .DeviceImageWrapper {
    left: 50%;
    transform: translateX(-50%);
  }
  .TextContent {
    bottom: 270px;
    width: 20%;
  }
  .OurProcessSection {
    margin-bottom: 610px;
  }
}

@media (max-width: 768px) {
  .DeviceImageContainer {
    width: 610px;
  }
  .ProcessImageContainer {
    width: 550px;
  }
  .TextContent {
    width: 80%;
  }
  .OurProcessSection {
    margin-bottom: 500px;
  }
}

@media (max-width: 428px) {
  .DeviceImageContainer {
    width: 370px;
  }
  .ProcessImageContainer {
    width: 340px;
  }
  .TextContainer {
    p {
      width: 90%;
    }
  }
  .TextContent {
    position: initial;
    width: 100%;
    text-align: center;
    h2 {
      font-size: 44px;
    }
  }
  .DeviceImageWrapper {
    position: initial;
  }
  .OurProcessSection {
    margin-bottom: 50px;
  }
  .AnyDeviceSection {
    padding-top: 90px;
  }
}

@media (max-width: 375px) {
  .DeviceImageContainer {
    width: 300px;
  }
  .TextContainer {
    p {
      font-size: 16px;
    }
  }
  .TextContent {
    p {
      font-size: 16px;
    }
  }
}
