.Footer {
  width: 100%;
  background-color: #141414;
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.LogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavigationLinks {
  margin-top: 3rem;
  color: white;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.NavLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.NavRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.SocialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 3.8rem;
}

.PrivacyPolicy {
  text-align: center;
  color: #898989;
  margin-top: 2.5rem;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.Rights {
  text-align: center;
  color: #898989;
  font-weight: 400;
  font-size: 14px;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .NavigationLinks {
    gap: 1.5rem;
    flex-direction: column;
  }
}

@media (max-width: 428px) {
  .NavigationLinks {
    font-size: 13px;
  }
  .NavLeft {
    gap: 1.4rem;
  }
  .NavRight {
    gap: 1.4rem;
  }
  .Rights {
    font-size: 12px;
    margin-top: 2rem;
  }
}
