.Insights {
  width: 100%;
  background-color: #e5e5e5;
  padding-bottom: 6rem;
}

.Container {
  padding-left: 120px;
  padding-right: 120px;
}

.Heading {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 600;
    font-size: 42px;
    color: #168eb4;
  }
}

.ArrowContainer {
  width: 55px;
  span {
    position: unset !important;
  }
  .ArrowIcon {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.CardContainer {
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.LeftContainer {
  margin-top: 100px;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .Container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .Heading {
    width: 90%;
  }
}

@media (max-width: 428px) {
  .Heading {
    h1 {
      font-size: 36px;
    }
  }
  .Container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .CardContainer {
    flex-direction: column;
  }
  .LeftContainer {
    margin-top: 20px;
  }
}
