.Card {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  span {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
}

.Blue {
  background-color: #168eb4;
}

.Green {
  background-color: #a8d100;
}

@media (max-width: 768px) {
  .Card {
    width: 115px;
    height: 115px;
    span {
      font-size: 15px;
    }
  }
}

@media (max-width: 425px) {
  .Card {
    width: 150px;
    height: 150px;
    span {
      font-size: 15px;
    }
  }
}
