.Commercialize {
  background-color: white;
  padding: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Container {
  h2 {
    color: #2b3756;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 3rem;
  }
}

.MapContainer {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.ImageContainer {
  height: 576px;
  width: 1024px;
}

.Card1 {
  background-color: #33c2e5;
  border-radius: 8px;
  padding: 1.25rem;
  max-width: 300px;
  position: absolute;
  top: 76px;
  left: 0;
}

.Card2 {
  background-color: #33c2e5;
  border-radius: 8px;
  padding: 1.25rem;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 126px;
}

.Card3 {
  background-color: #33c2e5;
  border-radius: 8px;
  padding: 1.25rem;
  max-width: 300px;
  position: absolute;
  bottom: 0;
  right: 210px;
}

.CardHeading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.IconContainer {
  width: 20px;
  height: 30px;
}

.Desc {
  color: white;
  text-align: left;
}
