.Commercialize {
  background-color: white;
  padding: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Container {
  h2 {
    color: #2b3756;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 3rem;
  }
}

.MapContainer {
  width: 100%;
  height: fit-content;
  position: relative;
}

.ImageContainer {
  width: 100%;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.Card1 {
  background-color: #33c2e5;
  border-radius: 8px;
  padding: 1.25rem;
  max-width: 300px;
  position: absolute;
  top: 76px;
  left: 0;
}

.Card2 {
  background-color: #33c2e5;
  border-radius: 8px;
  padding: 1.25rem;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 126px;
}

.Card3 {
  background-color: #33c2e5;
  border-radius: 8px;
  padding: 1.25rem;
  max-width: 300px;
  position: absolute;
  bottom: 0;
  right: 210px;
}

.CardHeading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.IconContainer {
  width: 22px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.Desc {
  color: white;
  text-align: left;
}

@media (max-width: 768px) {
  .Commercialize {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .Heading {
    font-size: 15px;
  }
  .Desc {
    font-size: 13px;
  }
  .Card1 {
    padding: 1rem;
  }
  .Card2 {
    padding: 1rem;
  }
  .Card3 {
    padding: 1rem;
  }
  .ImageContainer {
    width: 700px;
  }
}

@media (max-width: 425px) {
  .Commercialize {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .Container {
    h2 {
      font-size: 25px;
    }
  }
  .ImageContainer {
    display: none;
  }
  .MapContainer {
    position: unset;
  }
  .Card1 {
    position: inherit;
    margin-bottom: 1rem;
  }
  .Card2 {
    position: inherit;
    margin-bottom: 1rem;
  }
  .Card3 {
    position: inherit;
    margin-bottom: 1rem;
  }
}

@media (max-width: 375px) {
  .Commercialize {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
