.ContactHeader {
  width: 100%;
  height: 400px;
  background-color: #2b3756;
  position: relative;
}

.GreenBar {
  background-color: #a8d100;
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
}

.ImageWrapper {
  position: absolute;
  right: 0;
}

.ImageContainer {
  width: 450px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
