.Menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -150vh;
  z-index: 1000;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.MenuOpen {
  top: 0;
  opacity: 1;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Header {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(213, 225, 236, 0.2);
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    background-color: #cacaca;
    color: white;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  padding-left: 10rem;
  padding-right: 10rem;
}

.MenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.IconContainer {
  width: 100px;
  height: 100px;
  background-color: white;
  box-shadow: 0px 1px 8px rgba(80, 99, 149, 0.15);
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.GreenContainer {
  span {
    position: unset !important;
  }
  background-color: #a8d100;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BlueContainer {
  background-color: #00b3de;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImageContainer {
  width: 24px;
  span {
    position: unset !important;
  }
}

.Icon {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.Footer {
  background-color: #f8f8f8;
  padding-top: 1rem;
  // padding-bottom: 1.8rem;
  // max-height: 140px;
  text-align: center;

  p {
    color: #868686;
    font-weight: 500;
    font-size: 14px;
  }
}

.BrandContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  gap: 40px;
}

.Left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.Right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.BrandIconContainer {
  width: 80px;
  span {
    position: unset !important;
  }
  .BrandIcon {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 768px) {
  .Body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .IconContainer {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 425px) {
  .Menu {
    justify-content: flex-start;
  }
  .Header {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .Body {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-y: scroll;
  }
  .IconContainer {
    width: 65px;
    height: 65px;
    padding: 0.5rem;
    margin-bottom: 0;
  }
  .MenuItem {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    &:hover {
      transform: scale(1);
    }
  }

  .BrandContainer {
    flex-direction: column;
    gap: 5px;
  }
  .BrandIconContainer {
    width: 60px;
  }
}
