.FocusCard {
  background-color: #404d6f;
  border-radius: 6px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    height: fit-content;
  }
}

.IconContainer {
  width: 80px;
  span {
    position: unset !important;
  }
}

.Icon {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.SeeMoreButton {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  color: white;
  text-decoration: underline;
  font-size: 13px;
  font-style: italic;
}

.ShowText {
  height: fit-content;
}

@media (max-width: 428px) {
  .FocusCard {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    h5 {
      margin: 0;
      font-size: 16px;
      text-align: left;
    }
    p {
      font-size: 12px;
      text-align: left;
    }
  }
  .IconContainer {
    width: 44px;
  }
  .Content {
    width: 100%;
  }
  .SeeMoreButton {
    display: block;
  }
}
