.Highlights {
  background: url("/assets/highlights-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 870px;
}

.Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.TextContainer {
  p {
    font-weight: 500;
    font-size: 36px;
    color: white;
    text-shadow: 0px 2px 4px #9b6bcd;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .TextContainer {
    p {
      font-size: 30px;
    }
  }
}

@media (max-width: 428px) {
  .Highlights {
    background-position: unset;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .Container {
    gap: 20px;
  }
  .TextContainer {
    p {
      font-size: 22px;
    }
  }
}
