.FaqBody {
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 80px;
  padding-bottom: 120px;
}

.QASection {
  display: flex;
  gap: 2rem;
}

.Section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .FaqBody {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 428px) {
  .FaqBody {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .QASection {
    flex-direction: column;
    gap: 1rem;
  }
}
