@import "../../styles/index.module.scss";

.Awards {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #2b3756;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.Content {
  h2 {
    color: white;
    font-weight: 600;
    font-size: 36px;
  }
}

.AwardCards {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.Card {
  background-color: #364468;
  color: white;
  border-radius: 8px;
  max-width: 350px;
  padding: 1.5rem;
  h5 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 2rem;
  }
  span {
    font-weight: 600;
    font-size: 16px;
  }
  p {
    margin: 0;
    font-weight: 300;
    margin-top: 0.5rem;
  }
}

.ImageContainer {
  width: 100%;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 768px) {
  .Awards {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .Content {
    width: 50%;
  }
  .AwardCards {
    flex-direction: column;
    align-items: flex-start;
  }
  .ImageContainer {
    width: 300px;
  }
}

@media (max-width: 425px) {
  .Awards {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .Container {
    position: relative;
    width: 100%;
  }
  .Content {
    width: 100%;
    z-index: 10;
    h2 {
      font-size: 25px;
    }
  }
  .ImageContainer {
    display: none;
    // position: absolute;
    // right: 0;
    // bottom: 0;
  }
}

@media (max-width: 375px) {
  .Awards {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
