.AwardInfo {
  padding: 120px;
}

.Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.Card {
  background-color: #364468;
  color: white;
  border-radius: 8px;
  max-width: 350px;
  padding: 1.5rem;
  h5 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 2rem;
  }
  span {
    font-weight: 600;
    font-size: 16px;
  }
  p {
    margin: 0;
    font-weight: 300;
    margin-top: 0.5rem;
  }
}

@media (max-width: 425px) {
  .AwardInfo {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .Container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 12px;
  }
  .AwardInfo {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
