.Container {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 120px;
  //   padding-bottom: 120px;
}

.Heading {
  text-align: center;

  h2 {
    color: black;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    margin-bottom: 15px;
  }
  p {
    margin: 0;
    color: #aaaaaa;
    font-weight: 400;
    font-size: 20px;
  }
}

.StudiesContainer {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.ContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ContainerMid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ContainerRight {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Footer {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #6a6a6a;
  margin-top: 90px;
}

.BillableWebPos {
  height: 400px;
}

.BillableECommerce {
  height: 460px;
}

.CalendQ {
  height: 400px;
}

.BillableMobilePos {
  height: 500px;
}

.BillableOrderManagement {
  height: 420px;
}

.DialogSmartCare {
  height: 500px;
}

.BillableSimpleInvoice {
  height: 400px;
}

.CommercialPrime {
  height: 470px;
}

@media (max-width: 768px) {
  .Container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 428px) {
  .Container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .Heading {
    h2 {
      font-weight: 600;
      font-size: 30px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
    }
  }
  .StudiesContainer {
    flex-direction: column;
  }
  .BillableWebPos {
    height: 360px;
  }
  .BillableECommerce {
    height: 423px;
  }
  .CalendQ {
    height: 360px;
  }
  .BillableMobilePos {
    height: 450px;
  }
  .BillableOrderManagement {
    height: 378px;
  }
  .DialogSmartCare {
    height: 450px;
  }
  .BillableSimpleInvoice {
    height: 360px;
  }
  .CommercialPrime {
    height: 423px;
  }
}

@media (max-width: 375px) {
  .BillableWebPos {
    height: 341px;
  }
  .BillableECommerce {
    height: 400px;
  }
  .CalendQ {
    height: 341px;
  }
  .BillableMobilePos {
    height: 426px;
  }
  .BillableOrderManagement {
    height: 358px;
  }
  .DialogSmartCare {
    height: 426px;
  }
  .BillableSimpleInvoice {
    height: 341px;
  }
  .CommercialPrime {
    height: 401px;
  }
}
