.BillableWebPosDevelopment {
  width: 100%;
  background-color: white;
  position: relative;
}

.Container {
  padding-top: 180px;
  padding-left: 215px;
  padding-bottom: 180px;
}

.TextContainer {
  width: 40%;
}

.ImageWrapper {
  position: absolute;
  right: 120px;
  bottom: -50px;
}

.ImageContainer {
  width: 640px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 1366px) {
  .ImageContainer {
    width: 570px;
  }
}

@media (max-width: 768px) {
  .Container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 3.5rem;
  }
  .TextContainer {
    width: 50%;
  }
  .ImageContainer {
    width: 420px;
  }
  .ImageWrapper {
    right: 60px;
  }
}
