.AboutUsBody {
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
}

.Container {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.TextContent {
  text-align: center;
  h2 {
    color: #2b3756;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
  }
  p {
    opacity: 0.56;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }
}

.AboutCardContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.Top {
  display: flex;
  gap: 50px;
}

.Bottom {
  display: flex;
  gap: 50px;
}

.ImageContainer1 {
  width: 215px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.ImageContainer2 {
  width: 175px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.BottomLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.BottomRight {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.AboutCardContainerMobile {
  display: none;
}

@media (max-width: 768px) {
  .Container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .Top {
    gap: 25px;
  }
  .Bottom {
    gap: 25px;
  }
  .ImageContainer1 {
    width: 130px;
  }
  .ImageContainer2 {
    width: 140px;
  }
}

@media (max-width: 428px) {
  .AboutCardContainer {
    display: none;
  }
  .Container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .AboutCardContainerMobile {
    display: block;
    margin-top: 60px;
  }
  .MobileTop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
  }
  .MobileBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
