.Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px;
}

.Container {
  background-color: #1d1d1d;
  padding: 50px 72px;
  width: 100%;
  height: 340px;
  position: relative;
}

.TextAndButton {
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    font-weight: 500;
    font-size: 22px;
    color: white;
    width: 40%;
  }
  button {
    width: fit-content;
    background: #4a4a4a;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 16px 28px;
  }
}

.ImageWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.ImageContainer {
  width: 606px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 768px) {
  .Contact {
    padding: 60px;
  }
  .ImageWrapper {
    position: initial;
    margin-top: 50px;
  }
  .Container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .ImageContainer {
    width: 576px;
  }
  .TextAndButton {
    p {
      width: 90%;
    }
  }
}

@media (max-width: 428px) {
  .Contact {
    padding: 1.5rem;
  }
  .ImageContainer {
    width: 287px;
  }
  .TextAndButton {
    p {
      width: 100%;
    }
  }
  .Container {
    padding: 50px 40px;
    padding-bottom: 0;
  }
}
