.TechStack {
  background-color: #f8f9fa;
  padding-left: 8.75rem;
  padding-right: 8.75rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.Container {
  text-align: center;
  h2 {
    color: #2b3756;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 3rem;
  }
}

.LeftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TechIconContainer {
  display: flex;
  justify-content: center;
}

.IconBallContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 8px;
}

.VerticalLine {
  border-left: 1px dashed #c6c7c8;
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

.IconContainer {
  span {
    position: unset !important;
  }
  background-color: white;
  box-shadow: 0px 3px 8px rgba(64, 121, 174, 0.08);
  border-radius: 200px;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    transform: scale(1.15);
  }
}

.Icon {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 768px) {
  .TechStack {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .TechIconContainer {
    flex-direction: column;
  }
  .VerticalLine {
    border-left: none;
    border-bottom: 1px dashed #c6c7c8;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .IconContainer {
    width: 80px;
  }
}

@media (max-width: 428px) {
  .TechStack {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .Container {
    h2 {
      font-size: 30px;
    }
  }
  .IconContainer {
    width: 50px;
  }
}
