.TrustedPartners {
  padding-left: 120px;
  padding-right: 120px;
}

.Container {
  background-color: white;
  width: 100%;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  h5 {
    font-weight: 500;
    font-size: 14px;
    color: #7e7e7e;
  }
}

.PartnerImages {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.Left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.ImageContainer {
  width: 110px;
  span {
    position: unset !important;
  }
  .Image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 768px) {
  .TrustedPartners {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .PartnerImages {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .TrustedPartners {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .Container {
    border-radius: 6px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .PartnerImages {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  .ImageContainer {
    width: 50px;
  }
}
